.gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1440px;
}
.gallery-item {
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}
.gallery-image {
    display: block;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.5);
    max-width: 100%;
    object-fit: cover; 
  }

